.main {
    height: calc(100% - 75px);
    padding-bottom: 25px;
}

.calendar {
    height: calc(100% - 80px);
}

.timeline__line {
    height: 2px;
}

.timeline__bullet--left {
    left: -4px;
}

.timeline__bullet--right {
    right: -4px;
}
